.post-card {
    border: 1px solid #eaeaea;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: rgb(246 247 247);
  }
  
  .post-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }
  
  .post-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .post-card h3 {
    color: #007bff;
    font-size: 1.25rem;
  }
  
  .post-card .btn {
    margin-top: 15px;
  }
  